// Colors

// Primary colors
$tomato: hsl(4, 100%, 67%);
// Neutral colors
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$gray: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

// Font weights
$fw-500: 500;
$fw-700: 700;
